div#frinds_suggestion_row_head{
	background: #FFF;
	padding: 10px;
	border-radius: 10px 10px 0 0;
}

div#frinds_suggestion_row_head a#btn_next{
	background-color: #bf4ef3;
	color:white;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none !important;
}

div#frinds_suggestion_row_body{
	background: #FFF;
	padding: 10px;
	border-radius: 0 0 10px 10px;
}
div#frinds_suggestion_row_body div#heading_bottom{
	border-bottom: 1px solid lightgray;
}
.popover{
  background: rgb(163, 138, 158);
  text-align: center;
  color:white;
}
.Remove
{
	border-radius: 25px;
}
.active {
    color: rgb(164, 27, 227) !important;
}
#ul
{
	    
   height: 40px;
    width: 44px;
    margin-top: 4px;
    border-radius: 50%;
    margin-left: 15px;
}
#li{
    margin-top: 14px;
}
#friends_row{
	border-bottom: 1px solid lightgray;
	padding: 5px;
}

#friends_row .col-sm-6 p{
	font-size: 20px;
	vertical-align: text-bottom;
	margin: 0;
	padding: 30px 10px 10px 10px;
}
#friends_row .col-sm-6{
	height: 70px;
}
#friends_row .col-sm-2 button{
	margin: 20px 10px 10px 10px;
	width: 110px;
}
div#frinds_suggestion_row_body div#friend_scrol{
	height: 610px;
	overflow: auto;
}
